form {
  border: 12px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: purple;
}

.cancelbtn {
  width: auto;
  padding: 10px;
  background-color: #f44336;
  margin: auto;
}
.container {
  padding: 16px;
  margin: auto;
  width: 50%;
  border: 6px solid green;
}
span.psw {
  float: right;
  padding-top: 16px;
}
